@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');



*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    display: grid;
    background-color: aqua;
    margin: auto;
    height: 100%;
}
#btn{
    background-color: blueviolet;
    border-radius: 80px;
    top: 25%;
    left: 25%;
    right:25%;
    bottom:25%;
    position: relative;
    padding: .5rem;
    border: none;
    color: brown;font-family:"Kode+Mono",sans-serif;font-size: 1rem ;
    box-shadow: 5px 5px 9px 5px #000000;


}