@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');



*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    background-color: aqua;
    margin: auto;
    height: 100%;
}
#btn{
    background-color: blueviolet;
    border-radius: 80px;
    position: relative;
    padding: 1rem;
    border: none;
    color: brown;font-family:"Kode+Mono",sans-serif;font-size: 1rem ;
    box-shadow: 5px 5px 9px 5px #000000;

}